body {
    margin: 60px auto;
    width: 70%;
}
h1 {
    display: inline-block;
}
nav {
    float:right;
    display: inline-block;
}
nav ul, footer ul {
    font-family:'Verdana', 'Arial', 'Helvetica', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    display: inline;
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #0000ff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Verdana', 'Arial', 'Helvetica', 'Sans-Serif';
}
p {
    color: #333;
}
li {
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
