body {
    margin: 20px auto;
    width: 95%;
}
header {
    width:100%;
    text-align: center;
}
nav {
    display:flex;
    float:right;
    text-align: center;
}
nav ul, footer ul {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    font-family:'Verdana', 'Arial', 'Helvetica', 'Sans-Serif';
    font-size: 1.5em;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
    text-align: center
}
a {
    text-decoration: none;
    color: #0000ff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    display: block;
    text-align: center
    font-size: 2em;
    font-family:'Verdana', 'Arial', 'Helvetica', 'Sans-Serif';
}
p {
    color: #333;
}
li {
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
