<h3 id="publications">Publications</h3>
<ul>
  <li>
    <p><strong>Hanna ZR</strong>, Dumbacher JP, Bowie RCK, Wall JD. 2018. Whole-genome sequences suggest long term declines of spotted owl (<em>Strix occidentalis</em>) (Aves: Strigiformes: Strigidae) populations in California. <em>bioRxiv</em> 343434. DOI:10.1101/343434. <a href="https://doi.org/10.1101/343434" target="_blank">Available here</a> or <a href="/files/Hanna_et_al_2018_genomes_spotted_owl_California_declines.pdf" target="_blank">Download PDF</a></p>
  </li>
  <li>
    <p><strong>Hanna ZR</strong>, Dumbacher JP, Bowie RCK, Henderson JB, Wall JD. 2018. Whole-genome analysis of introgression between the spotted owl and barred owl (<em>Strix occidentalis</em> and <em>Strix varia</em>, respectively; Aves: Strigidae) in western North America. <em>bioRxiv</em> 343202. DOI:10.1101/343202. <a href="https://doi.org/10.1101/343202" target="_blank">Available here</a> or <a href="/files/Hanna_et_al_2018_Spotted_barred_introgression.pdf" target="_blank">Download PDF</a></p>
  </li>
  <li>
    <p><strong>Hanna ZR</strong>, Henderson JB, Sellas AB, Fuchs J, Bowie RCK, Dumbacher JP. 2017. Complete mitochondrial genome sequences of the northern spotted owl (<em>Strix occidentalis caurina</em>) and the barred owl (<em>Strix varia</em>; Aves: Strigiformes: Strigidae) confirm the presence of a duplicated control region. <em>PeerJ</em> 5:e3901. DOI: 10.7717/peerj.3901. <a href="https://doi.org/10.7717/peerj.3901" target="_blank">Available here</a> or <a href="/files/Hanna_et_al_2017_Complete_mitochondrial_genomes_spotted_barred_owls.pdf" target="_blank">Download PDF</a></p>
  </li>
  <li>
    <p><strong>Hanna ZR</strong>, Henderson JB, Wall JD, Emerling CA, Fuchs J, Runckel C, Mindell DP, Bowie RCK, DeRisi JL, Dumbacher JP. 2017. Northern spotted owl (<em>Strix occidentalis caurina</em>) genome: divergence with the barred owl (<em>Strix varia</em>) and characterization of light-associated genes. <em>Genome Biology and Evolution</em> 9(10):2522-2545. DOI: 10.1093/gbe/evx158. <a href="https://academic.oup.com/gbe/article-abstract/doi/10.1093/gbe/evx158/4091607/Northern-spotted-owl-Strix-occidentalis-caurina" target="_blank">Available here</a> or <a href="/files/Hanna_et_al_2017_Northern_Spotted_Owl_genome.pdf" target="_blank">Download PDF</a></p>
  </li>
  <li>
    <p>Bowie RCK, Feldheim KA, <strong>Hanna ZR</strong>, Sellas AB, Cicero C. 2017. Development of Polymorphic Tetranucleotide Microsatellite Markers for New World Warblers (Aves: Passeriformes: Parulidae) with Broad Cross-species Utility. <em>The Wilson Journal of Ornithology</em> 129:401–407. DOI: 10.1676/16-110.1. <a href="http://www.bioone.org/doi/abs/10.1676/16-110.1" target="_blank">Available here</a> or <a href="/files/Bowie_et_al_2017_Development_of_Polymorphic_Tetranucleotide_Microsa.pdf" target="_blank">Download PDF</a></p>
  </li>
  <li>
    <p>Linck EB, <strong>Hanna ZR</strong>, Sellas A, Dumbacher JP. 2017. Evaluating hybridization capture with RAD probes as a tool for museum genomics with historical bird specimens. <em>Ecology and Evolution</em> 7:4755–4767. DOI: 10.1002/ece3.3065. <a href="http://onlinelibrary.wiley.com/doi/10.1002/ece3.3065/abstract" target="_blank">Available here</a> or <a href="/files/Linck_et_al_2017_Evaluating_hybridization_capture_with_RAD_probes.pdf" target="_blank">Download PDF</a></p>
  </li>
  <li>
    <p><strong>Hanna ZR</strong>, Ortiz-Ramírez MF, Ríos-Muñoz CA, Cayetano-Rosas H, Bowie RCK, Navarro-Sigüenza AG. 2016. Phylogenetic and morphologic evidence confirm the presence of a new montane cloud forest associated bird species in Mexico, the Mountain Elaenia (<em>Elaenia frantzii</em>; Aves: Passeriformes: Tyrannidae). <em>PeerJ</em> 4:e1598. DOI: 10.7717/peerj.1598. <a href="https://peerj.com/articles/1598/" target="_blank">Available here</a> or <a href="/files/Hanna_et_al_2016_Phylogenetic_and_morphologic_evidence_confirm.pdf" target="_blank">Download PDF</a></p>
  </li>
  <li>
    <p><strong>Hanna ZR</strong>, Runckel C, Fuchs J, DeRisi JL, Mindell DP, Hemert CV, Handel CM, Dumbacher JP. 2015. Isolation of a Complete Circular Virus Genome Sequence from an Alaskan Black-Capped Chickadee (<em>Poecile atricapillus</em>) Gastrointestinal Tract Sample. <em>Genome Announcements</em> 3:e01081-15. DOI: 10.1128/genomeA.01081-15. <a href="http://genomea.asm.org/content/3/5/e01081-15" target="_blank">Available here</a> or <a href="/files/Hanna_et_al_2015_Isolation_of_a_Complete_Circular_Virus_Genome_Sequence.pdf" target="_blank">Download PDF</a></p>
  </li>
</ul>

<h3 id="electronic-resources-and-datasets">Electronic Resources and Datasets</h3>
<ul>
  <li>
    <p><strong>Hanna ZR</strong>, Henderson JB, Wall JD, Emerling CA, Fuchs J, Runckel C, Mindell DP, Bowie RCK, DeRisi JL, Dumbacher JP. 2017. Supplemental dataset for Northern Spotted Owl (<em>Strix occidentalis caurina</em>) genome assembly version 1.0. Zenodo. <a href="http://doi.org/10.5281/zenodo.822859" target="_blank">DOI: 10.5281/zenodo.822859.</a></p>
  </li>
  <li>
    <p><strong>Hanna ZR</strong>, Sellas AB. 2017. hyRADccg Version 1.0.0. Zenodo. <a href="http://doi.org/10.5281/zenodo.268048" target="_blank">DOI: 10.5281/zenodo.268048.</a></p>
  </li>
  <li>
    <p>Henderson JB, <strong>Hanna ZR</strong>. 2016. scafSeqContigInfo. Version 1.0.0. Zenodo. <a href="http://doi.org/10.5281/zenodo.163748" target="_blank">DOI: 10.5281/zenodo.163748.</a></p>
  </li>
  <li>
    <p>Henderson JB, <strong>Hanna ZR</strong>. 2016. BLATq. Version 1.0.2. Zenodo. <a href="http://doi.org/10.5281/zenodo.61136" target="_blank">DOI: 10.5281/zenodo.61136.</a></p>
  </li>
  <li>
    <p>Henderson JB, <strong>Hanna ZR</strong>. 2016. excerptByIDs. Version 1.0.2. Zenodo. <a href="http://doi.org/10.5281/zenodo.61134" target="_blank">DOI: 10.5281/zenodo.61134.</a></p>
  </li>
  <li>
    <p>Henderson JB, <strong>Hanna ZR</strong>. 2016. dupchk. Version 1.0.0. Zenodo. <a href="http://doi.org/10.5281/zenodo.163722" target="_blank">DOI: 10.5281/zenodo.163722.</a></p>
  </li>
  <li>
    <p>Henderson JB, <strong>Hanna ZR</strong>. 2016. GItaxidIsVert. Version 1.0.0. Zenodo. <a href="http://doi.org/10.5281/zenodo.163737" target="_blank">DOI: 10.5281/zenodo.163737.</a></p>
  </li>
  <li>
    <p>Henderson JB, <strong>Hanna ZR</strong>. 2016. scafN50. Version 1.0.0. Zenodo. <a href="http://doi.org/10.5281/zenodo.163739" target="_blank">DOI: 10.5281/zenodo.163739.</a></p>
  </li>
</ul>
