<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="assets/css/main.scss">
			{% seo %}
		</head>
		<body>
			<header>
				<h1>
					<a href="/">Zachary R. Hanna</a>
				</h1>
				<nav>
	    			<ul>
					<li><a href="/">Home</a></li>
		        		<!--<li><a href="/about">About</a></li>-->
					<li><a href="/pubs">Publications</a></li>
	        			<li><a href="/cv">CV</a></li>
	        			<!--<li><a href="/blog">Blog</a></li>-->
	    			</ul>
				</nav>
			</header>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:zachanna@berkeley.edu">email</a></li>
	        		<li><a href="https://github.com/zrhanna">github.com/zrhanna</a></li>
				</ul>
			</footer>
		</body>
	</html>
